reportlab==3.6.6

juntagrico==1.4.5
# git+http://github.com/juntagrico/juntagrico.git@main

gunicorn==20.0.4
psycopg2==2.8.4

openpyxl==3.0.6



# juntagrico badges
git+https://github.com/juntagrico/juntagrico-badges.git@main

# juntagrico pd
juntagrico-pg==1.4.0
