.juntagrico_logo {
    background: url(/static/img/Pura-Verdura-logo.png) 0 0px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 547px;
    height: 250px;
}
