.juntagrico_logo {
    background: url(/static/img/randebandi_logo.png) 0 0px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 300px;
}
