{% extends "base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block page_title %}
    {% vocabulary "subscription" as v_subscription %}
    <h3>
        {% blocktrans %}Künde dein/e/n {{ v_subscription }}{% endblocktrans %}
    </h3>
{% endblock %}
{% block content %}
    {% vocabulary "subscription" as v_subscription %}
    <div class="row mb-3">
        <div class="col-md-12">
            <h4>
                Abo-Sharing
            </h4>
            Als Alternative zur Kündigung gibt es auch die Möglichkeit deinen Ernteanteil mit einem anderen Mitglied zu teilen. 
            Für diese Abo-Sharing Option wende dich gerne an: <a href="mailto:mitglieder@puraverdura.ch">mitglieder@puraverdura.ch</a>
            <br>
            <br>
            <h4>
                Kündigung Ernteanteil
            </h4>
            <form action="" method="POST" onsubmit="return confirm('{% blocktrans %}Möchtest du deinen {{ v_subscription }} verbindlich künden?{% endblocktrans %}')">
                {% csrf_token %}
                <input name="end_date" value="{{ end_date |date:"Y-m-d" }}" type="hidden"/>
                {% blocktrans trimmed with ed=end_date|date:"d.m.Y" %}
                Wähle zunächst ob du deinen {{ v_subscription }} auf den regulären 
                Termin (<b>{{ ed }}</b>) oder ab sofort kündigen willst.<br>
                Wenn du die Option "ab jetzt" wählst werden wir versuchen
                Mitglieder auf der Warteliste zu finden, die deinen Ernteanteil übernehmen möchten. Sobald ein Mitglied gefunden wurde können wir 
                dir den Restbetrag deines Ernteanteils überweisen. Gib dafür bitte deine IBAN Nummer an.
                {% endblocktrans %}
                <br> 
                <div class="form-group">
                    <input type="radio" id="regular" name="now_or_regular" value="regular" onclick="disable_iban()" checked>
                    <label for="regular">regulär</label><br>
                    <input type="radio" id="now" name="now_or_regular" value="now" onclick="enable_iban()">
                    <label for="now">ab jetzt</label>
                </div>
                <br>
                <h4>
                    Kündigung Mitgliedschaft
                </h4> 
                Möchtest du weiterhin passives Mitglied in der Pura Verdura Genossenschaft bleiben? So bleibst du auf dem laufenden mit unserem Newsletter
                und hilfst uns unsere Infrastruktur zu finanzieren. Falls nicht gib uns bitte deine IBAN Nummer an, damit wir deinen Anteilsschein zurückerstatten können. <br><br> 
                <div class="form-group">
                    <input type="radio" id="no" name="cancel_membership" value="no" onclick="disable_iban()" checked>
                    <label for="no">Ich möchte Mitglied bei Pura Verdura bleiben</label><br>
                    <input type="radio" id="yes" name="cancel_membership" value="yes" onclick="enable_iban()">
                    <label for="yes">Ich möchte meine Mitgliedschaft kündigen</label><br>
                </div>
                <br>
                <div class="form-group">
                    <label for="iban" id="iban_label">IBAN Nr: </label>
                    <input type="text" name="iban" id="iban" disabled placeholder="xxxx xxxx xxxx xxxx xxxx x"/>
                </div>
                <div class="form-group">
                    <label for="message">
                        {% trans "Mitteilung" %}
                    </label>
                    <textarea name="message" id="message" class="form-control" rows="12"placeholder="{% trans "Hier Nachricht eingeben" %}"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">
                        {% blocktrans %}{{ v_subscription }} künden{% endblocktrans %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script type = "text/javascript">  
        function enable_iban() {
            document.getElementById("iban").required = true;
            document.getElementById("iban").disabled = false;
        }
        function disable_iban() {
            if ( !(document.getElementById("now").checked || document.getElementById("yes").checked) ) {
                document.getElementById("iban").required = false;
                document.getElementById("iban").disabled = true;
            }
        }
    </script>  
{% endblock %}
