{% extends "export.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% block content %}
    {{ block.super }} {#% insert the original content of this block, if you want %#}
{% vocabulary "member_pl" as v_member_pl %}
{% vocabulary "share" as v_share %}
{% vocabulary "subscription" as v_subscription %}
    <h3>Exporte für Email Octopus</h3>
     <div class="row mb-4">
        <div class="col-md-3">
            Alle {{ v_member_pl }}
        </div>
        <div class="col-md-9">
            <a href="{% url 'export-all-members-for-email' %}">
                {% trans "exportieren" %}
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
           {{ v_subscription }}-Bezieher:innen (inkl. Mitabonnent:innen)
        </div>
        <div class="col-md-9">
            <a href="{% url 'export-members-with-sub-for-email' %}">
                {% trans "exportieren" %}
            </a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
           Alle mit {{ v_share }}
        </div>
        <div class="col-md-9">
            <a href="{% url 'export-members-with-shares-for-email' %}">
                {% trans "exportieren" %}
            </a>
        </div>
    </div>
{% endblock %}