{% extends "no_menu_base.html" %}
{% load i18n %}
{% load juntagrico.config %}
{% load crispy_forms_tags %}
{% block all_page_title %}
    {% vocabulary "member_type" as v_member_type %}
    <div class="page-title col-md-12">
        <h3>
            {% blocktrans %}{{ v_member_type }} werden{% endblocktrans %}
        </h3>
    </div>
{% endblock %}
{% block allcontent %}
    <div class="col-md-12">
        {% config "enable_shares" as c_enable_shares %}
        {% config "bylaws" as c_bylaws %}
        {% config "business_regulations" as c_business_regulations %}
        {% config "gdpr_info" as c_gdpr_info %}
        {% config "share_price" as c_share_price %}
        {% enriched_organisation "D" as v_d_enriched_organisation %}
        {% vocabulary "share" as v_share %}
        {% vocabulary "share_pl" as v_share_pl %}
        {% vocabulary "subscription" as v_subscription %}
        {% vocabulary "member_type" as v_member_type %}
        {% vocabulary "member_type_pl" as v_member_type_pl %}
        <div class="row mb-3">
            <div class="col-md-12">
                Interessiert an {% enriched_organisation "D" %}?
            </div>
        </div>
        {% if c_enable_shares %}
            <div class="row mb-4">
                <div class="col-md-12">
                    {% blocktrans trimmed %}
                    <ul>
                        <li>Damit Du Teil unserer Genossenschaft werden kannst wirst du im ersten Jahr einen {{ v_share }} in der Höhe von CHF {{ c_share_price }} erwerben.</li>
                        <li> Beim Austritt wird Dir diese Summe wieder rückerstattet.</li>
                        <li>Die {{ v_share_pl }} sind das Kapital, das vor allem zur Finanzierung von Investitionen – zum Beispiel Infrastruktur – verwendet wird.</li>
                    </ul>
                    {% endblocktrans %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="offset-md-2 col-md-8" style="">
                <form action="" method="post">
                    {% crispy form %}
                </form>
                <div class="offset-md-3 col-md-9" style="margin-top: -8px">
                    <p style="font-size: 16.5px">Deine Mitgliedschaft wird erst nach Zahlung des Anteilscheins und des Abopreises bestätigt. In den nächsten Schritten kannst du dein Depot und Ernteanteil auswählen</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}